<table class="table table-responsive table-borderless">
	<thead class="text-light">
		<th scope="col">{{ latest.date }}</th>
		<th scope="col">$</th>
		<th scope="col">%</th>
		<th scope="col">Mean %</th>
		<th scope="col">CV <span class="badge rounded-pill bg-secondary" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" title="<h6>Co-Effcient of Variation</h6><p>The coefficient of variation allows investors to determine how much volatility, or risk, is assumed in comparison to the amount of return expected from investments. The lower the ratio of standard deviation to mean return, the better risk-return trade-off. Note that if the expected return in the denominator is negative or zero, the coefficient of variation could be misleading.</p>">?</span></th>
	</thead>
	<tbody>
		<tr class="text_{% if latest.gain < 0 %}red{% else %}green{% endif %}">
			<th scope="row">{{ portfolio.name }}</th>
			<td>{{ latest.gain|floatformat }}</td>
			<td>{{ latest.gain_pct|floatformat }}</td>
			<td>{{ latest.mean|floatformat }}</td>
			<td>{{ latest.cv|floatformat }}</td>
		</tr>
		<tr class="text_{% if latest.bench_gain < 0 %}red{% else %}green{% endif %}">
			<th scope="row">{{ portfolio.benchmark_object.name }}</th>
			<td>{{ latest.bench_gain|floatformat }}</td>
			<td>{{ latest.bench_gain_pct|floatformat }}</td>
			<td>{{ latest.bench_mean|floatformat }}</td>
			<td>{{ latest.bench_cv|floatformat }}</td>
		</tr>
	</tbody>
</table>

