{% load static %}
<nav class="bg-nav sidebar {% if request.session.menuSetting == 'open' %}open{% else %}closed{% endif %}">
  <div class="sidebar-sticky pt-2">
    <div class="d-flex justify-content-end mr-2">
      <i class="fa fa-caret-square-left btn text-light" id="closeMenu"></i>
    </div>
    <ul class="nav flex-column" id="sidebar_icons">
      <li class="nav-item" id="openMenu" style="cursor: pointer;color:#fff;">
        <div class="nav-link">
          <i class="fas fa-bars"></i>
        </div>
      </li>
      {% if current_user.is_admin %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">
            <span data-feather="home"></span>
            <i class="fas fa-user-shield"></i>
          </a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dash:profile' profile_uuid=current_user.uuid %}">
          <span data-feather="profile"></span>
          <i class="fas fa-user-cog"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dash:dashboard' %}">
          <span data-feather="home"></span>
          <i class="fas fa-line-chart"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dash:watchlist' %}">
          <span data-feather="watchlist"></span>
          <i class="fas fa-eye"></i>
        </a>
      </li>
    </ul>
    <ul class="nav flex-column" id="sidebar_nav">
      {% if current_user.is_admin %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">
            <span data-feather="home"></span>
            <i class="fas fa-user-shield"></i>
            Admin Site
          </a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dash:profile' profile_uuid=current_user.uuid %}">
          <span data-feather="profile"></span>
          <i class="fas fa-user-cog"></i>
          Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dash:dashboard' %}">
          <span data-feather="home"></span>
          <i class="fas fa-line-chart"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dash:watchlist' %}">
          <span data-feather="watchlist"></span>
          <i class="fas fa-eye"></i>
          Watchlist
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dash:add_stock' %}">
        <span data-feather="home"></span>
            <i class="far fa-newspaper"></i>
            News & Content
        </a>
      </li>