{% load dashboard_extras %}
<a href="{% url 'dash:stock' stock_id=stock.id %}" class="list-group-item list-group-item-action flex-column align-items-start stock-link" id="{{ stock.ticker }}">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">{{ stock.ticker }}</h5>
		<h5 class="price_gain_box test">
			<span data-toggle="tooltip" class="badge bg_{% if stock.quote.changePercent < 0 %}red{% else %}green{% endif %}">
				<div class="container-fluid">
					<div class="row">
						${{ stock.quote.latestPrice }} ({{ stock.quote.changePercent|percentage }})
					</div>
					<div class="row">
						<small>ytd: {{ stock.quote.ytdChange|percentage }}</small>
					</div>
				</div>
			</span>
		</h5>
	</div>
	<small class="text-muted stock_name">{{ stock.name }}</small>
</a>