{% extends 'dash/base.html' %}
{% block head_files %}
	{% load static %}
	<link href="{% static 'css/forms.css' %}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
{% endblock head_files %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="card col-md-4 col-offset-1 text-white bg-dark mb-3">
		  	<div class="card-header">
		    Add Trade
		  	</div>
		    <div class="card-body">
		    	<form method="post">
		    		{% csrf_token %}
		    		{{ form.as_p }}
		    		<button class="btn btn-success" type="submit">Add</button>
				</form>
			</div>
		</div>
		{% if errors %}
		<div class="col-md-4">
			<div class="alert alert-danger">
				{{ errors }}
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
{% block footer_files %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
	$('.datepicker').datepicker({
		format: 'dd/mm/yyyy',
		orientation: 'bottom'
	});
</script>
{% endblock footer_files %}