<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GAS Investments</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    
    <!-- Snail icon -->
    <link rel="icon" href="https://vignette.wikia.nocookie.net/adventuretimewithfinnandjake/images/0/07/Waving_Snail.png/revision/latest?cb=20120729225549">
    {% block head_files %}

    {% endblock head_files %}
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="main_nav">
        <a class="navbar-brand" id="dashMenu">GAS Dash <i class="fas fa-stroopwafel"></i></a>
        <div class="collapse navbar-collapse">
             <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown m-1">
                    <a class="btn btn-outline-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Add <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item nav-link" href="{% url 'dash:add_stock' %}">
                            <i class="fas fa-plus"></i>
                            Add Stock
                        </a>
                        <a class="dropdown-item nav-link" href="{% url 'dash:add_trade' %}">
                            <i class="fas fa-plus"></i>
                            Add Trade
                        </a>
                        <a class="dropdown-item nav-link" href="{% url 'dash:add_trade' %}">
                            <i class="fas fa-plus"></i>
                            Add Note
                        </a>
                    </div>
                </li>
                <li class="nav-item m-1">
                     <a class="btn btn-outline-warning" href="{% url 'dash:logout' %}">Logout</a>   
                </li>
            </ul>
        </div>
    </nav>

    <!-- Sidebar and Main Page -->
    <div class="container-fluid">
      <div class="row">
        {% include 'dash/_sidebar.html' %}
        {% block sidebar_content %}
        {% endblock sidebar_content %}
                    <div id="loading-gif"  style="display:none;z-index: 2;">
                        <h5 class="text-muted">Loading...</h5>
                        <img src="{% static 'img/snail_loading.gif' %}" alt="loading-gif">
                    </div>
                </ul>
            </div>
            <p class="text-muted float-bottom" id="iex_attr"><i class="fa fa-info-circle"></i> Data provided for free by <a href="https://iextrading.com/developer/" target="_blank">IEX</a></p>
        </nav>
            <main role="main" class="col-md-10 offset-md-2">
              <div class="container-fluid">
                {% if messages %}
                <div class="messages col-md-4">
                    {% for message in messages %}
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show">
                      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% block content %}

                {% endblock content %}
              </div>
            </main>
            <div class="overlay"></div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {% block footer_files %}
    {% endblock footer_files %}
  </body>

</html>