{% extends 'dash/base.html' %}
{% load dashboard_extras %}
{% block sidebar_content %}
	
{% endblock sidebar_content %}
{% block content %}
	{% if stocks %}
		<div class="row">
			<div class="col-md-9"></div>
			<div class="col-md-3">
				<ul class="list-group list-group-flush stock_list">
				  {% for stock in stocks %}
			        <a href="{% url 'dash:stock' stock_id=stock.id %}" class="list-group-item list-group-item-action flex-column align-items-start" id="{{ stock.ticker }}">
			        	<div class="d-flex w-100 justify-content-between">
					      <h5 class="mb-1">{{ stock.ticker }}</h5>
					      <h5 class="price_gain_box test">
					      	<span data-toggle="tooltip" class="badge badge-{% if stock.quote.changePercent < 0 %}danger{% else %}success{% endif %}">
						      	<div class="container-fluid">
						      		<div class="row">
						      			${{ stock.quote.latestPrice }} ({{ stock.quote.changePercent|percentage }})
						      		</div>
						      		<div class="row">
						      			<small>ytd: {{ stock.quote.ytdChange|percentage }}</small>
						      		</div>
						      	</div>
					      	</span>
					      </h5>
					    </div>
					    <small class="text-muted stock_name">{{ stock.name }}</small>
			        </a>
			    {% endfor %}
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<div class="card metrics">
				  <div class="card-header">
				    Totals
				  </div>
				  <div class="card-body">
				  </div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card metrics">
				  <div class="card-header">
				    Metrics
				  </div>
				  <div class="card-body">
				  </div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="row">
			<div class="col-md-4 col-offset-1">
				<p>No stocks are available <a class="btn btn-success" href="{% url 'dash:add_stock' %}">Add</a></p>
			</div>
		</div>
	{% endif %}
{% endblock content %}