{% extends 'dash/base.html' %}
{% load dashboard_extras %}
{% block head_files %}
{% load static %}
	<script type="text/javascript">
		var None = null;
		var portfolio = {{ portfolio.data|safe }};
		var quotes = [];
		var stocks = {};
		var symbols = {{ symbols|safe }};
		{% for stock in stocks %}
			quotes.push({{ stock.quote|safe }});
			stocks['{{ stock.ticker }}'] = {{ stock.quantity }}*{{ stock.quote.latestPrice }};
		{% endfor %}
	</script>
	<link href="{% static 'vendor/dc-4.0.0/css/dc.css' %}" rel="stylesheet">
	<link href="{% static 'css/forms.css' %}" rel="stylesheet">

{% endblock head_files %}
{% block sidebar_content %}
	
{% endblock sidebar_content %}
{% block content %}
	{% if stocks %}
		<div class="row">
			<div class="col-md-9 d-none d-sm-block">
				{% if latest == 'Portfolio error, please refresh your data.' %}
					<p>{{ latest }}</p>
				{% else %}
					<div id="portfolio-chart" style="height: 50vh;width:100%;">
					</div>
					<div id="daily-volume-chart" style="height: 8vh;width:100%;"></div>
					<div class="btn-group graph_settings" role="group">
			            <button type="button" class="btn btn-dark btn-sm portfolio_filters active" id="pct_view">%</button>
			            <button type="button" class="btn btn-dark btn-sm portfolio_filters" id="dollar_view">$</button>
			            <button type="button" class="btn btn-dark btn-sm" id="settings" data-toggle="modal" data-target="#portfolioSettingsModal"><i class="fas fa-cog"></i></button>
			        </div>
			    {% endif %}
			</div>
			<div class="col-md-3 stock_list">
				<div class="card d-flex flex-row bg_{% if latest.day_change < 0 %}red{% else %}green{% endif %}">
					<div class="d-flex flex-column justify-content-center p-1 flex-fill">
						<h5 class="black_text text-center">Day $</h5>
						<span class="badge bg_black">
							<h5 class="text-{% if latest.day_change < 0 %}danger{% else %}success{% endif %}">{{ latest.day_change|floatformat }}</h5>
						</span>
					</div>
					<div class="d-flex flex-column justify-content-center p-1 flex-fill">
						<h5 class="black_text text-center">Day %</h5>
						<span class="badge bg_black">
							<h5 class="text-{% if latest.day_change < 0 %}danger{% else %}success{% endif %}">{{ latest.pct_change|percentage }}</h5>
						</span>
					</div>
				</div>
				<hr>
				<ul class="list-group list-group-flush">
				{% for stock in stocks %}
			        {% include 'dash/_stock_link.html' %}
			    {% endfor %}
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4 metrics">
				<p class="smalll font-italic text-muted">{{ latest.days }} Days <span  class="badge badge-pill badge-secondary" data-toggle="tooltip" data-html="true" data-placement="right" title="Time In The Market Beats Market Timing">?</span></p>
				{% include 'dash/_portfolio_totals.html' %}
			</div>
			<div class="col-md-8">
				<div class="card metrics p-0 border-0">
				  <div class="card-body container-fluid">
				  	<div class="row">
				  		<div class="col-md-6">
				  			<canvas id="sector-chart" class="metric_graph">
							</canvas>
				  		</div>
				  		<div class="col-md-6">
				  			<canvas id="ticker-chart" class="metric_graph">
							</canvas>
				  		</div>
				  	</div>
				  </div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="row">
			<div class="col-md-4 col-offset-1">
				<p>No stocks are available <a class="btn btn-success" href="{% url 'dash:add_stock' %}">Add</a></p>
			</div>
		</div>
	{% endif %}

<!-- Portfolio Settings Modal -->
<div class="modal fade" id="portfolioSettingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="portfolioSettingsModalLabel">{{ portfolio.name }} Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
		   	{% csrf_token %}
		  	{% for field in portfolio_form %}
		  	{% if field.name == 'name' %}
            <label for="id_{{ field.name }}"><i class="fas fa-pen"></i> Name</label>
            <input type="text" name="name" value="{{ portfolio.name }}" required="" id="id_name">
            {% elif field.name == 'benchmark_name' %}
            <label for="autocompleteName"><i class="fa fa-chart-line"></i> Benchmark</label>
            <input type="text" name="benchmark_name" value="{{ portfolio.benchmark_name }}" placeholder="Start typing a fund name..."" id="autocompleteName">
            {% else %}
            {{ field }}
            {% endif %}
            {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block footer_files %}
	<script src="{% static 'vendor/d3/d3.js' %}"></script>
	<script src="{% static 'vendor/crossfilter-1.5.2/crossfilter.js' %}"></script>
	<script src="{% static 'vendor/dc-4.0.0/js/dc.js' %}"></script>
	<script src="{% static 'js/portfolioCrossFilter.js' %}"></script>
	<script src="{% static 'js/sectorChart.js' %}"></script>
	<script src="{% static 'js/jquery.autocomplete.js' %}"></script>
	<script src="{% static 'js/tickerSearch.js' %}"></script>
{% endblock footer_files %}