{% extends 'dash/base.html' %}
{% load dashboard_extras %}
{% block head_files %}
{% load static %}
<script type="text/javascript">
    var ticker = "{{ stock_data.stock.ticker}}";
    var trades = [];
    {% for trade in stock_data.trades %}
      trades.push({'price': {{ trade.avg_price }}, 'type': '{{ trade.trade_type }}', 'date': '{{ trade.date }}', 'amount': {{ trade.amount }}})
    {% endfor %}
    var price_data = JSON.parse({{ stock_data.price_data|safe }});
</script>
<link href="{% static 'css/stock-chart.css' %}" rel="stylesheet">
{% endblock head_files %}
{% block sidebar_content %}
	<hr>
	<li class="nav-item">
        <select class="form-control" id="tickerDrop" ONCHANGE="location = this.options[this.selectedIndex].value;">
            <option selected class="tickerOption" value="{% url 'dash:stock' stock_id=stock_data.stock.id %}">
                <h5>
                {{ stock_data.stock.ticker }}
                </h5>
            </option>
            {% for item in stock_data.stocks %}
            <option class="tickerOption" value="{% url 'dash:stock' stock_id=item.id %}">
                <h5>
                {{ item.ticker }}
                </h5>
            </option>
            {% endfor %}
        </select>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dash:add_stock' %}">
        <span data-feather="home"></span>
            <i class="far fa-chart-bar"></i>
            Financials
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dash:add_stock' %}">
        <span data-feather="home"></span>
            <i class="fas fa-globe-americas"></i>
            ESG
        </a>
    </li>
{% endblock sidebar_content %}
{% block content %}
<div class="row">
    <div class="col-md-11 p-0" id="share-price-box">
    
        <div id="share-price-chart">
        </div>
    </div>
    <div class="col-md-1 bg_black mb-2 pt-2 d-flex flex-column justify-content-around">
        <h3><i class="fas fa-cog w-100"></i></h3>
        <div class="btn btn-sm btn-outline-success w-100 mb-2" id="reset_chart">
          <i class="fas fa-redo-alt"></i> Reset
        </div>
        <div class="btn btn-sm btn-outline-primary w-100 mb-2" id="show_trades">
          <i class="fas fa-dollar"></i> Trades
        </div>
        <div class="btn btn-sm btn-outline-warning w-100" id="show_trend">
          <i class="fas fa-chart-line"></i> Trend Line
        </div>
    </div>
</div>
<div class="row d-block">
    <div class="d-flex justify-content-center btn-group" role="group">
        <button type="button" class="flex-fill btn btn-outline-success btn-sm priceChart" id="1">1M</button>
        <button type="button" class="flex-fill btn btn-outline-success btn-sm priceChart" id="6">6M</button>
        <button type="button" class="flex-fill btn btn-outline-success btn-sm priceChart" id="12">1y</button>
        <button type="button" class="flex-fill btn btn-outline-success btn-sm priceChart" id="60">5y</button>
        <button type="button" class="flex-fill btn btn-outline-success btn-sm priceChart active" id="10000">MAX</button>
        <button type="button" class="flex-fill btn btn-outline-success btn-sm" id="timeIn">Time In</button>
    </div>
</div>
<hr>
<div class="row card-deck">
    <div class="card bg_black company-details col-md-8 p-0">
        <div class="card-header d-flex flex-row align-items-center">
            <ul class="nav nav-tabs bg-dark card-header-tabs" id="stockTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Price</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="trades-tab" data-toggle="tab" href="#trades" role="tab" aria-controls="trades" aria-selected="false">Trades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">Notes</a>
              </li>
            </ul>
        </div>
        <div class="card-body p-0">
            <div class="tab-content" id="stockTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <table class="table table-dark table-responsive">
                  <thead>
                    <tr>
                      <th scope="col">Market Cap</th>
                      <th scope="col">Cash</th>
                      <th scope="col">Debt</th>
                      <th scope="col">Revenue</th>
                      <th scope="col">Short Interest</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <!-- <td>${{ stock_data.stats.marketcap }}</td>
                      <td>${{ stock_data.stats.cash }}</td>
                      <td>${{ stock_data.stats.debt }}</td>
                      <td>${{ stock_data.stats.revenue }}</td>
                      <td>${{ stock_data.stats.shortInterest }}</td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">2...</div>
              <div class="tab-pane fade p-2" id="trades" role="tabpanel" aria-labelledby="trades-tab">
                <ul class="list-group tradeList">
                    {% if stock_data.trades %}
                        {% for trade in stock_data.trades %}
                          <a href="{% url 'dash:trade' trade.id %}" class="list-group-item {% if trade.type == 'b' %}list-group-item-danger{% else %}list-group-item-success{%endif%}">
                              {{ trade.date }}: {{ trade.trade_type }},{{ trade.amount }} @ ${{ trade.avg_price }}
                          </a>
                        {% endfor %}
                    {% else %}
                        <h5>No trades found for this stock <a class="btn btn-success" href="{% url 'dash:add_trade' %}">Add Trade</a></h5>
                    {% endif %}
                </ul>
              </div>
              <div class="tab-pane fade p-2" id="notes" role="tabpanel" aria-labelledby="notes-tab">
                
              </div>
            </div>
        </div>
    </div>
    <div class="card bg_black company-details col-md-4 p-0">
        <div class="card-header d-flex flex-row align-items-center">
            <img src="{{ stock_data.stock.ticker_data.logo_url }}" alt="logo" id="company-logo" class="mr-auto">
            <h5 class="p-2 bd-highlight">{{  stock_data.company.companyName  }}</h5>
        </div>
        <div class="card-body">
            <!-- <p class="card-title">
                CEO:  {{  stock_data.company.CEO  }}
            </p>
            <p class="text-muted small">
                Industry: {{  stock_data.company.industry  }}
            </p>
            <p class="card-text">
                {{  stock_data.company.description  }}
            </p>
            <a href="{{  stock_data.company.website  }}" target="_blank" class="btn btn-primary">Website</a> -->
        </div>
    </div>
</div>
{% endblock content %}
{% block footer_files %}
  <script src="{% static 'vendor/d3/d3.js' %}"></script>
  <script src="{% static 'js/priceLineChart.js' %}"></script>
{% endblock footer_files %}