<!DOCTYPE html>
<html lang="en">
{% load static %}

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GAS Investments</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    
    <!-- Snail icon -->
    <link rel="icon" href="https://vignette.wikia.nocookie.net/adventuretimewithfinnandjake/images/0/07/Waving_Snail.png/revision/latest?cb=20120729225549">
    {% block head_files %}
        <link href="{% static 'css/forms.css' %}" rel="stylesheet">
    {% endblock head_files %}
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-toggleable-md navbar-dark bg-dark">
    	<a class="navbar-brand" href="{% url 'dash:dashboard' %}">GAS Dash</a>
    </nav>

    <div class="container">
		<hr>
		<div class="row d-flex p-2 bd-highlight align-items-center">
            <div class="col-md-6">
                <ul class="nav nav-tabs nav-fill" id="loginTab">
                    <li class="nav-item">
                        <a href="#login" class=" form-tab nav-link active" id="login-tab" data-toggle="tab" role="tab" aria-controls="login" aria-selected="false">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="#register" class="form-tab nav-link" id="register-tab" data-toggle="tab" role="tab" aria-controls="register" aria-selected="false">Register</a>
                    </li>
                </ul>
                <div class="tab-content gradient_form" id="loginTabContent">
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <form method="post" action=".">
                            {% csrf_token %}
                            {% for field in login_form %}
                            <label for="id_{{ field.name }}"><i class="{% if field.name == 'username' %}fa fa-user{% else %}fa fa-unlock-alt{% endif %}"></i></label>
                            {{ field }}
                            {% endfor %}
                            <hr>
                            <button class="btn btn-success" type="submit" name="submit" value="login">Login</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                        <form method="post" action=".">
                            {% csrf_token %}
                            {% for field in signup_form %}
                            <label for="id_{{ field.name }}"><i class="{% if field.name == 'username' %}fa fa-user{% elif field.name == 'email' %}fa fa-at{% else %}fa fa-unlock-alt{% endif %}"></i> {{ field.label }}</label>
                            {{ field }}
                            {% endfor %}
                            <hr>
                            <button class="btn btn-success" type="submit" name="submit" value="signup">Register</button>
                        </form>
                    </div>
                </div>
            </div>
            {% if errors.error %}
                <div class="col-md-4">
                    <div class="alert alert-danger">
                    {{ errors.error }}
                    </div>
                </div>
            {% endif %}
		</div>
	</div>

 <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
