:root {
    --default-font: #fff;
    --text-color: #F2EFEA;
    --dark: #2B2D42;
    --positive: #00CC66;
    --negative: #F9CB40;
    --menu-color: #2B2D42;
    --main-gradient: #e96443;  /* fallback for old browsers */
    --main-gradient1: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    --main-gradient2: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
