:root {
    --default-font: #62696E;
    --text-color: #000;
    --dark: #B2B7BC;
    --positive: #53dd6c;
    --negative: #EF233C;
    --menu-color: #232526;
    --main-gradient: -webkit-linear-gradient(rgba(255,255,255,1) 25%, rgba(241,245,255,1) 65%, rgba(194,207,235,1) 100%);
    --main-gradient1: -o-linear-gradient(rgba(255,255,255,1) 25%, rgba(241,245,255,1) 65%, rgba(194,207,235,1) 100%);
    --main-gradient2: linear-gradient(rgba(255,255,255,1) 25%, rgba(241,245,255,1) 65%, rgba(194,207,235,1) 100%);
}