.yGrid line {
	stroke: lightgrey;
	stroke-opacity: 0.5;
	stroke-width: 0.2;
    transition: transform 1s ease-in;
}

.yGrid path {
  stroke-width: 0;
}

@media screen and (max-width: 768px) {
    .chart_setting {
        display: none;
    }

    .chart_setting.visible {
        display: block;
    }
}