.grid line {
	stroke: lightgrey;
	stroke-opacity: 0.5;
	stroke-width: 0.2;
}

.grid path {
  stroke-width: 0;
}

@media screen and (max-width: 768px) {
    .chart_setting {
        display: none;
    }

    .chart_setting.visible {
        display: block;
    }
}